<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>BKB Gruppenpuzzle</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="theme-color" content="#ffffff">
        <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <section>                                
            <h2 class="full-width-borders"><img src="images/gruppenpuzzle.png"/>BKB Gruppenpuzzle</h2>                       
            <h4><%-welcome%></h4>
            <table>
            <% for(var i=0; i < anzeigen.length; i++) {%>
                <%- anzeigen[i] %>                    
            <% } %>                   
            </table>

            <form action="" method="POST" <% if (anzeigen.length == 1){%>style="display: none" <%}  %>>            
                <p></p>
                <input type="text" name="tbxTeamName" id="tbxTeamName" placeholder="Stammgruppenname" value="<%= teamName %>">                                        
                <p></p>
                <input type="text" name="tbxName" id="tbxName" placeholder="Name" value="<%= name %>">                                        
                <button id="btnButton">Beitreten oder aktualisieren</button>
            </form>
            <p>&copy; 2019 BKB </p>         
        </section>        
    </body>
</html>