<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Würfel</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="theme-color" content="#ffffff">
        <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <section>                                
            <h2 class="full-width-borders"><img src="images/gruppenpuzzle.png"/>BKB Gruppenpuzzle</h2>                       
            <h4>Würfel</h4>
            
            
                <%- gruppenWuerfel %>
            
            

            <form method="POST" action="/wuerfel">
                <button>Würfeln</button>
            </form>
            

            <p>&copy; 2019 BKB </p>         
        </section>        
    </body>
</html>